h1.page-title Расписание

.schedule

  .schedule__head
    .schedule__head-cell.schedule__head-cell--narrow Дата
    .schedule__head-cell Школа разработки интерфейсов
    .schedule__head-cell Школа мобильной разработки
    .schedule__head-cell Школа мобильного дизайна

  .schedule__content
    .schedule__content-row

      .schedule__content-cell.schedule__content-cell--narrow
        .event.event--light
          .event__date 9 февр.

      .schedule__content-cell


      .schedule__content-cell
        .event.event--colored-2
          .event__time 19:00
          .event__title Лекция 1. Адаптивная вёрстка
          .event__place Синий кит
            span.event__place-additional  - Школа разработки интерфейсов
          .event__author Дмитрий Душкин


      .schedule__content-cell
        .event.event--colored-3
          .event__time 19:00
          .event__title Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
          .event__place Синий кит
            span.event__place-additional  - Школа разработки интерфейсов
          .event__author Дмитрий Душкин
          a.event__link(href="#") Смотреть

    .schedule__content-row

      .schedule__content-cell.schedule__content-cell--narrow
        .event.event--light
          .event__date 11 февр.

      .schedule__content-cell
        .event.event--colored-1
          .event__time 19:00
          .event__title Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
          .event__place Синий кит
            span.event__place-additional  - Школа разработки интерфейсов
          .event__author Андрей Морозов
          a.event__link(href="#") Смотреть

      .schedule__content-cell
        .event.event--colored-2
          .event__time 19:00
          .event__title Лекция 1. Адаптивная вёрстка
          .event__place Синий кит
            span.event__place-additional  - Школа разработки интерфейсов
          .event__author Дмитрий Душкин
          a.event__link(href="#") Смотреть

      .schedule__content-cell
        .event.event--colored-3
          .event__time 19:00
          .event__title Лекция 1. Адаптивная вёрстка
          .event__place Синий кит
            span.event__place-additional  - Школа разработки интерфейсов
          .event__author Дмитрий Душкин
          a.event__link(href="#") Смотреть


    .schedule__content-row

      .schedule__content-cell.schedule__content-cell--narrow
        .event.event--light
          .event__date 12 февр.

      .schedule__content-cell


      .schedule__content-cell
        .event.event--colored-2
          .event__time 19:00
          .event__title Лекция 1. Адаптивная вёрстка
          .event__place Синий кит
            span.event__place-additional  - Школа разработки интерфейсов
          .event__author Дмитрий Душкин
          a.event__link(href="#") Смотреть

      .schedule__content-cell


    .schedule__content-row

      .schedule__content-cell.schedule__content-cell--narrow
        .event.event--light
          .event__date 12 февр.

      .schedule__content-cell
        .event.event--colored-1
          .event__time 19:00
          .event__title Лекция 5. Клиентская оптимизация: базовые знания и лучшие практики
          .event__place Синий кит
          .event__author Андрей Морозов
          a.event__link(href="#") Смотреть


      .schedule__content-cell
        .event.event--colored-2
          .event__time 19:00
          .event__title Лекция 1. Адаптивная вёрстка
          .event__place Синий кит
          .event__author Дмитрий Душкин
          a.event__link(href="#") Смотреть

      .schedule__content-cell
